[submodule "pronat_pre_pipe_data_model"]
	path = pronat_pre_pipe_data_model
	url = git@code.ipd.kit.edu:parse/pronat_pre_pipe_data_model.git
[submodule "pronat_post_pipe_data_model"]
	path = pronat_post_pipe_data_model
	url = git@code.ipd.kit.edu:parse/pronat_post_pipe_data_model.git
[submodule "pronat_bundle"]
	path = pronat_bundle
	url = git@code.ipd.kit.edu:weigelt/parse_bundle.git
[submodule "pronat_shallowNLP"]
	path = pronat_shallowNLP
	url = git@code.ipd.kit.edu:weigelt/parse_shallowNLP.git
[submodule "pronat_senna_wrapper"]
	path = pronat_senna_wrapper
	url = git@code.ipd.kit.edu:lama/senna_wrapper.git
[submodule "pronat_bios"]
	path = pronat_bios
	url = git@code.ipd.kit.edu:weigelt/parse_bios.git
[submodule "pronat_asr"]
	path = pronat_asr
	url = git@code.ipd.kit.edu:weigelt/parse_asr.git
[submodule "pronat_ner"]
	path = pronat_ner
	url = git@code.ipd.kit.edu:weigelt/parse_ner.git
[submodule "pronat_srl"]
	path = pronat_srl
	url = git@code.ipd.kit.edu:weigelt/parse_srl.git
[submodule "pronat_graph_builder"]
	path = pronat_graph_builder
	url = git@code.ipd.kit.edu:weigelt/parse_graph_builder.git
[submodule "pronat_ast_synth"]
	path = pronat_ast_synth
	url = git@code.ipd.kit.edu:parse/parse_ast_synth.git
[submodule "pronat_ast_extractor"]
	path = pronat_ast_extractor
	url = git@code.ipd.kit.edu:parse/parse_ast_extractor.git
[submodule "pronat_code_gen"]
	path = pronat_code_gen
	url = git@code.ipd.kit.edu:parse/parse_code_gen.git
[submodule "pronat_code_injector"]
	path = pronat_code_injector
	url = git@code.ipd.kit.edu:parse/parse_code_injector.git
[submodule "pronat_timeout_watchdog"]
	path = pronat_timeout_watchdog
	url = git@code.ipd.kit.edu:parse/parse_timeout_watchdog.git
[submodule "pronat_change_watchdog"]
	path = pronat_change_watchdog
	url = git@code.ipd.kit.edu:parse/parse_change_watchdog.git
