[submodule "pronat_pre_pipe_data_model"]
	path = pronat_pre_pipe_data_model
	url = git@code.ipd.kit.edu:parse/pronat_pre_pipe_data_model.git
[submodule "pronat_post_pipe_data_model"]
	path = pronat_post_pipe_data_model
	url = git@code.ipd.kit.edu:parse/pronat_post_pipe_data_model.git
[submodule "pronat_bundle"]
	path = pronat_bundle
	url = git@code.ipd.kit.edu:weigelt/parse_bundle.git
[submodule "pronat_shallowNLP"]
	path = pronat_shallowNLP
	url = git@code.ipd.kit.edu:weigelt/parse_shallowNLP.git
[submodule "pronat_senna_wrapper"]
	path = pronat_senna_wrapper
	url = git@code.ipd.kit.edu:lama/senna_wrapper.git
