[submodule "pronat_pre_pipe_data_model"]
	path = pronat_pre_pipe_data_model
	url = git@code.ipd.kit.edu:parse/pronat_pre_pipe_data_model.git
[submodule "pronat_post_pipe_data_model"]
	path = pronat_post_pipe_data_model
	url = git@code.ipd.kit.edu:parse/pronat_post_pipe_data_model.git
[submodule "pronat_bundle"]
	path = pronat_bundle
	url = git@code.ipd.kit.edu:weigelt/parse_bundle.git
[submodule "pronat_shallowNLP"]
	path = pronat_shallowNLP
	url = git@code.ipd.kit.edu:weigelt/parse_shallowNLP.git
[submodule "pronat_senna_wrapper"]
	path = pronat_senna_wrapper
	url = git@code.ipd.kit.edu:lama/senna_wrapper.git
[submodule "pronat_bios"]
	path = pronat_bios
	url = git@code.ipd.kit.edu:weigelt/parse_bios.git
[submodule "pronat_asr"]
	path = pronat_asr
	url = git@github.com:weigelt/pronat_asr.git
[submodule "pronat_ner"]
	path = pronat_ner
	url = git@code.ipd.kit.edu:weigelt/parse_ner.git
[submodule "pronat_srl"]
	path = pronat_srl
	url = git@code.ipd.kit.edu:weigelt/parse_srl.git
[submodule "pronat_graph_builder"]
	path = pronat_graph_builder
	url = git@code.ipd.kit.edu:weigelt/parse_graph_builder.git
[submodule "pronat_ast_synth"]
	path = pronat_ast_synth
	url = git@code.ipd.kit.edu:parse/parse_ast_synth.git
[submodule "pronat_ast_extractor"]
	path = pronat_ast_extractor
	url = git@github.com:weigelt/pronat_ast_extractor.git
[submodule "pronat_code_gen"]
	path = pronat_code_gen
	url = git@code.ipd.kit.edu:parse/parse_code_gen.git
[submodule "pronat_code_injector"]
	path = pronat_code_injector
	url = git@code.ipd.kit.edu:parse/parse_code_injector.git
[submodule "pronat_timeout_watchdog"]
	path = pronat_timeout_watchdog
	url = git@code.ipd.kit.edu:parse/parse_timeout_watchdog.git
[submodule "pronat_change_watchdog"]
	path = pronat_change_watchdog
	url = git@code.ipd.kit.edu:parse/parse_change_watchdog.git
[submodule "pronat_cycle_watchdog"]
	path = pronat_cycle_watchdog
	url = git@code.ipd.kit.edu:parse/parse_cycle_watchdog.git
[submodule "pronat_action_analyzer"]
	path = pronat_action_analyzer
	url = git@github.com:weigelt/pronat_action_analyzer.git
[submodule "pronat_babelfy_wsd"]
	path = pronat_babelfy_wsd
	url = git@code.ipd.kit.edu:weigelt/parse_wsd.git
[submodule "pronat_context"]
	path = pronat_context
	url = git@code.ipd.kit.edu:weigelt/parse_context.git
[submodule "pronat_condition_detection"]
	path = pronat_condition_detection
	url = git@code.ipd.kit.edu:weigelt/parse_condition_detection.git
[submodule "pronat_coref"]
	path = pronat_coref
	url = git@code.ipd.kit.edu:weigelt/parse_coref.git
[submodule "pronat_voice_recorder"]
	path = pronat_voice_recorder
	url = git@code.ipd.kit.edu:weigelt/parse_recorder.git
[submodule "pronat_teaching_detector"]
	path = pronat_teaching_detector
	url = git@code.ipd.kit.edu:parse/parse_teaching_detector.git
[submodule "pronat_loop_detection"]
	path = pronat_loop_detection
	url = git@code.ipd.kit.edu:weigelt/parse_loop_detection.git
[submodule "pronat_concurrency_detection"]
	path = pronat_concurrency_detection
	url = git@code.ipd.kit.edu:weigelt/parse_concurrent_action_dection.git
[submodule "pronat_method_synthesizer"]
	path = pronat_method_synthesizer
	url = git@code.ipd.kit.edu:parse/parse_method_synthesizer.git
[submodule "pronat_disfluency"]
	path = pronat_disfluency
	url = git@code.ipd.kit.edu:parse/parse_disfluency.git
[submodule "pronat_dialog_agent"]
	path = pronat_dialog_agent
	url = git@code.ipd.kit.edu:parse/parse_dialog_agent.git
[submodule "pronat_wiki_wsd_models"]
	path = pronat_wiki_wsd_models
	url = git@code.ipd.kit.edu:parse/parse_wiki_wsd_models.git
[submodule "pronat_wiki_wsd_agent"]
	path = pronat_wiki_wsd_agent
	url = git@code.ipd.kit.edu:parse/parse_wiki_wsd_agent.git
[submodule "pronat_wiki_wsd_classifier"]
	path = pronat_wiki_wsd_classifier
	url = git@code.ipd.kit.edu:parse/parse_wiki_wsd_classifier.git
[submodule "pronat_wiki_wsd_trainer"]
	path = pronat_wiki_wsd_trainer
	url = git@code.ipd.kit.edu:parse/parse_wiki_wsd_trainer.git
[submodule "pronat_topic_extraction_common"]
	path = pronat_topic_extraction_common
	url = git@code.ipd.kit.edu:parse/parse_topic_extraction_common.git
[submodule "pronat_topic_extraction"]
	path = pronat_topic_extraction
	url = git@code.ipd.kit.edu:parse/parse_topic_extraction.git
[submodule "pronat_ontology_selection"]
	path = pronat_ontology_selection
	url = git@code.ipd.kit.edu:parse/parse_ontology_selection.git
